:root{
    --primary-color: #ffe600;
    --background-color: #eeeeee;
    --secondary-color: #3483FA;
    --black: #333333;
    --dark-gray: #666666;
    --light-gray: #999999;
    --white: #fff;
    --primary-space: 16px;
    --secondary-space: 32px;
    --grid-columns: 12;
    --grid-width: 100%;
    --large: 24px;
    --medium: 18px;
    --small: 12px;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.search-box {
    display: flex;
    background-color: var(--primary-color);
    padding: 10px;
    width: calc(100% / var(--grid-columns) * 12);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.search-box img{
    margin-right: 20px;
}

.container-search {
    display: flex;
    justify-content: flex-end;
    width: calc(100% / var(--grid-columns) * 6);
}
.container-search input {
    width: calc(100% / 10 * 10);
    padding: 10px;
    border-radius: 2px 0px 0px 2px;
    border: none;
}
.container-search button {
    cursor: pointer;
    width: 38px;
    border: none;
    border-radius: 0px 2px 2px 0px;
}

.container-search button img {
    margin: auto;
}

.container-response, .product-detail {
    width: calc(100% / 12 * 6.6);
    margin: auto;
}

.breadcrumb {
    color: var(--dark-gray);
    font-size: 14px; 
}

.search-result-item, .price, .product-detail, .product {
    display: flex;
    align-items: center;
    background: #fff;
}

.product {
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
}

.product img {
    width: calc(100%/12*7);
}

.search-result-item {
    padding: 10px;
}

.search-result-item img {
    margin: var(--primary-space);
    width: 180px;
    height: 180px;
    border-radius: 4px;
}

.price h3 {
    font-size: var(--large);
    font-weight: 500;
}

.price p {
    font-size: var(--medium)
}

.price img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.container-info .price h3, .container-info p {
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color:var(--light-gray);
}

.pagination button {
    cursor: pointer;
    margin: var(--primary-space);
    border: none;
    background: none;
    color: var(--secondary-color);
}
  
.pagination p label {
    padding: 8px 12px;
    font-weight: 700;
    color: var(--black);
    background-color: var(--light-gray); 
    opacity:.5;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
  
.buy-product {
    width: calc(100% / 12*3);
    padding: 16px;
}

.buy-product h3 {
    font-size: 24px;
}

.buy-product h1 {
    font-size: 46px;
    font-weight: 500;
}

.product-description {
    width: calc(100% / var(--grid-columns)*7);
    padding: var(--secondary-space);
}

.product-description p {
    font-size: var(--primary-space);
    color: var(--light-gray)
}

.call-to-action {
    width: 100%;
    padding: var(--small);
    border: none;
    border-radius: 4px;
    margin-right: var(--secondary-space);
    margin-top: var(--secondary-space);
    background: var(--secondary-color);
    color: var(--background-color);
}

.integer-part{
    font-size: 46px;
}

.section {
    background: var(--white);
    border-radius: 6px;
}

.app {
    max-width: 100%;
    margin: 0 auto;
}
h3 {
    margin-left: var(--large);
    padding: var(--large);
}
h3 span{
    color: var(--secondary-color);
    font-size: var(--small);
    font-weight: 400;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 200px;
    height: 67px;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--background-color);
    border-radius: 4px;
    font-weight: 600;
}

.control-buttons {
    position: absolute;
    top: calc(100% / 2.3);
    width: calc(100% / 12 * 6.6);
    display: flex;
    justify-content: space-between;
}

.control-buttons button{
    position: relative;
    cursor: pointer;
    padding: 25px;
    border-radius: 50%;
    border-color: .5px solid var(--background-color);
    background-color: var(--white);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: var(--large);
}

.hidden{
    opacity: 0;
}

.left-btn {
    left: -30px
}

.right-btn {
    right: -30px;
}

