:root{
    --primary-color: #ffe600;
    --background-color: #eeeeee;
    --grid-columns: 12;
    --grid-width: 100%;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.search-box {
    display: flex;
    background-color: var(--primary-color);
    padding: 10px;
    width: calc(100% / var(--grid-columns) * 12);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.search-box img{
    margin-right: 20px;
}

.container-search {
    display: flex;
    justify-content: flex-end;
    width: calc(100% / 14 * 10);
}
.container-search input {
    width: calc(100% / 10 * 10);
    padding: 10px;
    border-radius: 2px 0px 0px 2px;
    border: none;
}
.container-search button {
    cursor: pointer;
    width: 38px;
    border: none;
    border-radius: 0px 2px 2px 0px;
}

.container-search button img {
    margin: auto;
}

.app {
    max-width: 100%;
    margin: 0 auto;
}